* {
    box-sizing: border-box;
}

.title-main {
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    color: #063986;
}

.bullets {
    text-align: center;
    font-size: 30px;
    background-color: aquamarine;
}

.plain {
    background-color: antiquewhite;
}

#why-not {
    background-color: aqua;
    font-size: medium;
    font-weight: bold;
}

li {
    color: #f46e6e;
    font-weight: bold;
}

ol li {
    color: greenyellow;
    font-weight: 100;
    background-color: black;
}

a {
    font-size: 50px;
    font-weight: 900;
}